<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SB">
          <!--用于客户端元数据使用-->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--name:服务名 ,behaviorConfiguration:服务要暴露元数据-->
      <service name="WCF_01_Binding的使用.Service" behaviorConfiguration="SB">
        <!--address : 告诉 WCF 的地址是下面的 baseAddress-->
        <!--binding : 该 WCF 走的是哪种契约 wse  -->
        <!--contract: 契约内容-->
        <endpoint address="net.tcp://localhost:1111/WCF_01Test"
                  binding="netTcpBinding"   
                  contract="WCF_01_Binding的使用.IService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--两个用途：给Client端作为引用地址-->
            <!--两个用途：作为endpoint的基地址存在-->
            <add baseAddress="http://localhost:1234/WCF_01Test" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
